docker.enabled = true

process {
    executor = 'local' //default
    memory = 1.GB
}

profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process {
            withName: 'cowpy' {
            memory = { 2.GB * task.attempt }
            cpus = 2
            }
        }
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    test {
        params.greeting = 'data/przywitania.csv'
        params.batch = 'test'
        params.character = 'tux'
    }
}
